.app{
    display: flex;
    flex-direction: column;
}

.nasa-logo {
    margin: auto;
    height: 300px;
    width: 500px;
}

@media screen and (max-width: 480px) {    
    .nasa-logo {
        height: 200px;
        width: 350px;
    } 
}