.no-search {
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.success-search {
    font-size: 18px;
    margin-left: 20px;
    text-align: center;
    font-size: 24px;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-name {
    margin: 5px;
    border-radius: 7px;
    height: auto;
    width: auto;
    max-height: 225px;
    max-width: 300px;
}