.search-input {
    border: solid 1px rgb(162, 161, 161);
    border-radius: 50px 0px 0px 50px;
    width: 25%;
    font-size: 20px;
    padding: 5px 12px 5px 12px;
}

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-button {
    background-color: #ac1a1a;
    color: white;
    font-weight: bold;
    border: solid 1px #ac1a1a;
    border-radius: 0px 50px 50px 0px;
    padding: 10px 15px 10px 15px;
}

.search-button:hover {
    color: white;
    border: solid 1px rgb(15, 88, 184);
    background-color: rgb(15, 88, 184);
}