.no-search {
    font-size: 24px;
    text-align: center;
}

.success-search {
    text-align: center;
    font-size: 24px;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-name {
    margin: 5px;
    border-radius: 7px;
    height: auto;
    width: auto;
    max-height: 225px;
    max-width: 300px;
}

@media screen and (max-width: 480px) {
    .no-search {
        font-size: 20px;
    }
    .success-search {
        font-size: 18px;
        margin: 10px 0px 10px 0px;
    }
    .card-name {
        width: 150px;
        height: 112px;
        margin: 3px;
    } 
}