.search-input {
    border: solid 1px rgb(162, 161, 161);
    border-radius: 50px;
    width: 25%;
    font-size: 20px;
    padding: 5px 12px 5px 12px;
}

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-button {
    background-color: #c9260d;
    color: white;
    font-weight: bold;
    border-color: #c9260d;
    border-radius: 5px;
    margin-left: 5px;
}